In [1]:
import numpy as np
import pandas as pd

In [2]:
# string
country = ['India','Pakistan','USA','Nepal','Srilanka']

pd.Series(country)

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [3]:
# integers
runs = [13,24,56,78,100]

runs_ser = pd.Series(runs)

In [4]:
# custom index
marks = [67,57,89,100]
subjects = ['maths','english','science','hindi']

pd.Series(marks,index=subjects)

maths       67
english     57
science     89
hindi      100
dtype: int64

In [6]:
# setting a name
marks = pd.Series(marks,index=subjects,name='Suryansh ke marks')
marks

maths       67
english     57
science     89
hindi      100
Name: Suryansh ke marks, dtype: int64

In [7]:
marks = {
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100
}

marks_series = pd.Series(marks,name='nitish ke marks')
marks_series

maths       67
english     57
science     89
hindi      100
Name: nitish ke marks, dtype: int64

In [8]:
# size
marks_series.size

4

In [9]:
# dtype
marks_series.dtype

dtype('int64')

In [10]:
# name
marks_series.name

'nitish ke marks'

In [11]:
# is_unique
marks_series.is_unique

pd.Series([1,1,2,3,4,5]).is_unique

False

In [12]:
# index
marks_series.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [13]:
runs_ser.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
# values
marks_series.values

array([ 67,  57,  89, 100], dtype=int64)

In [15]:
# with one col
subs = pd.read_csv('subs.csv',squeeze=True)
subs

C:\Users\surya\AppData\Local\Temp\ipykernel_22492\3280168974.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('subs.csv',squeeze=True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [17]:
# with 2 cols
vk = pd.read_csv('kohli_ipl.csv',index_col='match_no',squeeze=True)
vk

C:\Users\surya\AppData\Local\Temp\ipykernel_22492\727099308.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('kohli_ipl.csv',index_col='match_no',squeeze=True)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64